<!DOCTYPE html>
<html>
<head>
  <title>Amanc</title>
  <%= stylesheet_link_tag 'reset' %>  
  <%= stylesheet_link_tag 'amanc' %>  
  <%= javascript_include_tag 'jquery-1.9.1.min' %>
  <%= javascript_include_tag 'plugins/fmx_animate' %>
  <%= javascript_include_tag 'amanc' %>
  <script type="text/javascript">
    (function(){
      $(function(){
        amanc.init();      
      });
    })(jQuery);
  </script>
  <%= yield :head %>
  <%= csrf_meta_tag %>
</head>
<body>
  <%= render :partial => 'shared/header' %>
  <%= yield %>
  <%= render :partial => 'shared/footer' %>
</body>
</html>
